In [213]:
import pandas as pd
from scipy import stats

In [214]:
df = pd.read_csv("C:\\Users\\Peter\\Desktop\\Thinkful\\ESS\\ESSdata_Thinkful.csv", low_memory=False)

In [215]:
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [216]:
countrydict={
        "CH": 'Switzerland',
        "CZ": 'Czech Republic',
        "DE": 'Denmark',
        "ES": 'Spain',
        "NO": 'Norway',
        "SE": 'Sweden'
    }

In [217]:
for e in countries:
    crrnt_cntry=df[df['cntry']==e]
    trst_yr_one=crrnt_cntry[crrnt_cntry['year']==6].ppltrst.mean()
    trst_yr_two=crrnt_cntry[crrnt_cntry['year']==7].ppltrst.mean()
    chng = trst_yr_two-trst_yr_one
    if chng < 0:
        print('People in', countrydict[e], 'trust people less than they did before. The average response went down by', chng)
    else:
        print('People in', countrydict[e], 'trust people more than they did before. The average response went up by', chng)

People in Switzerland trust people more than they did before. The average response went up by 0.0737386804657
People in Czech Republic trust people more than they did before. The average response went up by 0.0621383330177
People in Denmark trust people more than they did before. The average response went up by 0.142857142857
People in Spain trust people less than they did before. The average response went down by -0.219463927463
People in Norway trust people less than they did before. The average response went down by -0.0506849315068
People in Sweden trust people more than they did before. The average response went up by 0.199210354854

In [218]:
for e in countries:
    crrnt_cntry=df[df['cntry']==e]
    trst_yr_one=crrnt_cntry[crrnt_cntry['year']==6].happy.mean()
    trst_yr_two=crrnt_cntry[crrnt_cntry['year']==7].happy.mean()
    chng = trst_yr_two-trst_yr_one
    if chng < 0:
        print('People in', countrydict[e], 'are less happy than they were before. The average response went down by', chng)
    else:
        print('People in', countrydict[e], 'are happier than they were before. The average response went up by', chng)

People in Switzerland are happier than they were before. The average response went up by 0.0281178071605
People in Czech Republic are happier than they were before. The average response went up by 0.143212596631
People in Denmark are happier than they were before. The average response went up by 0.428571428571
People in Spain are less happy than they were before. The average response went down by -0.128712871287
People in Norway are less happy than they were before. The average response went down by -0.33653471625
People in Sweden are happier than they were before. The average response went up by 0.0395743358897

In [219]:
men=df[df['gndr']==1]
women=df[df['gndr']==2]
if women['tvtot'].mean() > men['tvtot'].mean():
    print('Women overall reported spending more time watching tv with a survey score of ', women['tvtot'].mean(), 'vs',men['tvtot'].mean(), 'for men')
else:
    print('Men overall reported spending more time watching tv with a survey score of ', men['tvtot'].mean(), 'vs',women['tvtot'].mean(), 'for men')

Women overall reported spending more time watching tv with a survey score of  3.8925891182 vs 3.82560296846 for men

In [220]:
partnered=df[df['partner']==1]
nopartner=df[df['partner']==2]
if partnered['pplfair'].mean() > nopartner['pplfair'].mean():
    print('People with partners felt people were fair, with a score of', partnered['pplfair'].mean(),'vs', nopartner['pplfair'].mean(), 'for people who were not partnered')
else:
    print('People with no partners felt people were fair, with a score of', nopartner['pplfair'].mean(),'vs', partnered['pplfair'].mean(), 'for people who had partners')

People with partners felt people were fair, with a score of 6.06389047347 vs 5.9112804878 for people who were not partnered

In [221]:
in2014= df[df['year']==7]

for e in countries:
    crrnt_cntry=in2014[in2014['cntry']==e]
    social_score=crrnt_cntry['sclmeet'].mean()
    print('People in',countrydict[e], 'when asked how often they took part in social activities said', social_score )

People in Switzerland when asked how often they took part in social activities said 5.16062176166
People in Czech Republic when asked how often they took part in social activities said 4.44580152672
People in Denmark when asked how often they took part in social activities said 4.42857142857
People in Spain when asked how often they took part in social activities said 5.26011560694
People in Norway when asked how often they took part in social activities said 5.3023255814
People in Sweden when asked how often they took part in social activities said 5.42621145374

People in the Czech Republic and Denmark said they took part in social activities less than other countries compared to others in their age group.

In [222]:
in2014= df[df['year']==7]

for e in countries:
    crrnt_cntry=in2014[in2014['cntry']==e]
    social_score=crrnt_cntry['sclact'].mean()
    print('People in',countrydict[e], 'when asked how often they met socially said', social_score )

People in Switzerland when asked how often they met socially said 2.78169934641
People in Czech Republic when asked how often they met socially said 2.70307692308
People in Denmark when asked how often they met socially said 2.71428571429
People in Spain when asked how often they met socially said 2.61687763713
People in Norway when asked how often they met socially said 2.85909712722
People in Sweden when asked how often they met socially said 2.87942477876

All residents of the countries responded with relatively similar answers to how often they met sociallially compared to others in their age group.