In [96]:
import pandas as pd
import numpy as np

In [97]:
crime_path ='https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/New_York_offenses/NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013%20-%2013tbl8ny.csv'

crime_data = pd.read_csv(crime_path, skiprows=4, skipfooter=3)

c:\users\peter\appdata\local\programs\python\python36-32\lib\site-packages\ipykernel\__main__.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

In [98]:
crime_data = crime_data.drop('Rape\n(revised\ndefinition)1', 1)

In [99]:
crime_data = crime_data.fillna(crime_data.median(), inplace = True)

In [100]:
(crime_data.isnull().sum()/len(crime_data))*100

City                                      0.0
Population                                0.0
Violent\ncrime                            0.0
Murder and\nnonnegligent\nmanslaughter    0.0
Rape\n(legacy\ndefinition)2               0.0
Robbery                                   0.0
Aggravated\nassault                       0.0
Property\ncrime                           0.0
Burglary                                  0.0
Larceny-\ntheft                           0.0
Motor\nvehicle\ntheft                     0.0
Arson3                                    0.0
dtype: float64

In [101]:
crime_data['MurderTrue'] = crime_data['Murder and\nnonnegligent\nmanslaughter'].apply(lambda x :1 if x>=1 else 0)
crime_data['Robbery'] = crime_data['Robbery'].str.replace(",","")
crime_data['Population'] = crime_data['Population'].str.replace(",","")

In [105]:
crime_data['Population']= crime_data['Population'].astype(int)
crime_data['Robbery']= crime_data['Robbery'].astype(int)
crime_data['RobberyTrue']= crime_data['Robbery'].apply(lambda x :1 if x>=1 else 0)

In [106]:
crime_data

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,MurderTrue,RobberyTrue
0,Adams Village,1861,0,0,0,0,0,12,2,10,0,0.0,0,0
1,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0.0,0,0
2,Akron Village,2846,3,0,0,0,3,16,1,15,0,0.0,0,0
3,Albany,97956,791,8,30,227,526,"4,090",705,"3,243",142,0.0,1,1
4,Albion Village,6388,23,0,3,4,16,223,53,165,5,0.0,0,1
5,Alfred Village,4089,5,0,0,3,2,46,10,36,0,0.0,0,1
6,Allegany Village,1781,3,0,0,0,3,10,0,10,0,0.0,0,0
7,Amherst Town,118296,107,1,7,31,68,"2,118",204,"1,882",32,3.0,1,1
8,Amityville Village,9519,9,0,2,4,3,210,16,188,6,1.0,0,1
9,Amsterdam,18182,30,0,0,12,18,405,99,291,15,0.0,0,1
10,Arcade Village,2053,0,0,0,0,0,39,3,35,1,0.0,0,0
11,Ardsley Village,4523,5,0,0,3,2,33,4,28,1,0.0,0,1
12,Asharoken Village,658,0,0,0,0,0,2,0,2,0,0.0,0,0
13,Attica Village,2522,2,0,0,0,2,5,0,4,1,0.0,0,0
14,Auburn,27270,96,1,20,22,53,859,132,721,6,0.0,1,1
15,Avon Village,3333,1,0,0,1,0,25,3,20,2,0.0,0,1
16,Baldwinsville Village,7473,5,0,0,1,4,88,10,77,1,0.0,0,1
17,Ballston Spa Village,5418,8,0,0,3,5,94,16,78,0,1.0,0,1
18,Batavia,15374,57,0,7,13,37,559,103,454,2,0.0,0,1
19,Bath Village,5733,15,0,1,3,11,191,32,157,2,2.0,0,1
20,Bedford Town,17627,5,0,0,1,4,156,26,127,3,0.0,0,1
21,Bethlehem Town,34243,13,0,0,3,10,442,50,388,4,0.0,0,1
22,Binghamton,46304,284,3,19,101,161,"2,349",525,"1,767",57,0.0,1,1
23,Black River,1410,0,0,0,0,0,14,2,12,0,0.0,0,0
24,Blooming Grove Town,12001,8,0,1,0,7,99,20,72,7,0.0,0,0
25,Bolivar Village,1022,1,0,0,0,1,4,2,2,0,0.0,0,0
26,Bolton Town,2325,2,0,0,0,2,24,4,20,0,0.0,0,0
27,Boonville Village,2054,1,0,0,0,1,20,6,14,0,0.0,0,0
28,Brant Town,2065,4,0,0,1,3,31,9,20,2,0.0,0,1
29,Brewster,2358,0,0,0,0,0,13,3,10,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,3642,3,0,0,0,3,83,22,59,2,0.0,0,0
319,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0,0.0,0,0
320,Ulster Town,12195,14,0,3,2,9,437,25,410,2,0.0,0,1
321,Utica,61686,361,7,27,102,225,"2,528",449,"1,997",82,0.0,1,1
322,Vestal Town,27980,16,0,2,6,8,571,39,523,9,0.0,0,1
323,Walden Village,6887,18,1,2,1,14,142,13,124,5,0.0,1,1
324,Wallkill Town,27940,40,0,3,16,21,767,91,650,26,1.0,0,1
325,Walton Village,3012,6,0,1,0,5,68,18,50,0,0.0,0,0
326,Warsaw Village,3453,6,0,1,0,5,78,5,73,0,0.0,0,0
327,Washingtonville Village,5828,2,0,0,1,1,58,5,51,2,0.0,0,1
328,Waterford Town and Village,8392,4,0,0,0,4,59,6,52,1,0.0,0,0
329,Waterloo Village,5175,11,0,0,3,8,194,23,169,2,0.0,0,1
330,Watertown,28179,109,0,12,16,81,"1,165",169,953,43,0.0,0,1
331,Watervliet,10245,26,1,3,11,11,242,58,163,21,0.0,1,1
332,Watkins Glen Village,1862,6,0,0,0,6,92,10,80,2,0.0,0,0
333,Waverly Village,4337,5,0,0,1,4,54,9,41,4,0.0,0,1
334,Webster Town and Village,43777,21,0,2,3,16,469,101,361,7,0.0,0,1
335,Weedsport Village,1797,0,0,0,0,0,25,5,20,0,0.0,0,0
336,Wellsville Village,4574,11,0,1,0,10,164,32,129,3,1.0,0,0
337,Westhampton Beach Village,1732,2,0,0,0,2,44,4,37,3,0.0,0,0
338,West Seneca Town,44821,35,1,1,9,24,896,166,710,20,0.0,1,1
339,Whitehall Village,2604,6,0,0,0,6,62,12,49,1,0.0,0,0
340,White Plains,57559,78,1,3,28,46,"1,232",77,"1,134",21,0.0,1,1
341,Whitesboro Village,3733,4,0,0,0,4,36,14,21,1,0.0,0,0
342,Whitestown Town,9141,0,0,0,0,0,77,13,61,3,0.0,0,0
343,Woodbury Town,10685,3,0,0,2,1,541,9,529,3,0.0,0,1
344,Woodridge Village,829,7,0,0,0,7,17,8,9,0,0.0,0,0
345,Woodstock Town,5931,2,0,0,0,2,58,13,45,0,0.0,0,0
346,Yonkers,199134,"1,036",6,25,390,615,"2,368",470,"1,662",236,10.0,1,1
347,Yorktown Town,36643,15,0,0,2,13,334,45,287,2,0.0,0,1

In [112]:
crime = pd.DataFrame(crime_data['Population'])
crime['Population2'] = crime_data['Population']*crime_data['Population']
crime['Murder'] = crime_data['MurderTrue']
crime['Robbery'] = crime_data['RobberyTrue']

In [113]:
crime

     Population  Population2  Murder  Robbery
0          1861      3463321       0        0
1          2577      6640929       0        0
2          2846      8099716       0        0
3         97956   1005443344       1        1
4          6388     40806544       0        1
5          4089     16719921       0        1
6          1781      3171961       0        0
7        118296   1109041728       1        1
8          9519     90611361       0        1
9         18182    330585124       0        1
10         2053      4214809       0        0
11         4523     20457529       0        1
12          658       432964       0        0
13         2522      6360484       0        0
14        27270    743652900       1        1
15         3333     11108889       0        1
16         7473     55845729       0        1
17         5418     29354724       0        1
18        15374    236359876       0        1
19         5733     32867289       0        1
20        17627    310711129       0        1
21        34243   1172583049       0        1
22        46304   2144060416       1        1
23         1410      1988100       0        0
24        12001    144024001       0        0
25         1022      1044484       0        0
26         2325      5405625       0        0
27         2054      4218916       0        0
28         2065      4264225       0        1
29         2358      5560164       0        0
..          ...          ...     ...      ...
318        3642     13264164       0        0
319         615       378225       0        0
320       12195    148718025       0        1
321       61686   -489804700       1        1
322       27980    782880400       0        1
323        6887     47430769       1        1
324       27940    780643600       0        1
325        3012      9072144       0        0
326        3453     11923209       0        0
327        5828     33965584       0        1
328        8392     70425664       0        0
329        5175     26780625       0        1
330       28179    794056041       0        1
331       10245    104960025       1        1
332        1862      3467044       0        0
333        4337     18809569       0        1
334       43777   1916425729       0        1
335        1797      3229209       0        0
336        4574     20921476       0        0
337        1732      2999824       0        0
338       44821   2008922041       1        1
339        2604      6780816       0        0
340       57559   -981928815       1        1
341        3733     13935289       0        0
342        9141     83557881       0        0
343       10685    114169225       0        1
344         829       687241       0        0
345        5931     35176761       0        0
346      199134    999644292       1        1
347       36643   1342709449       0        1

[348 rows x 4 columns]

                                                    Population
0                                                         1861
1                                                         2577
2                                                         2846
3                                                        97956
4                                                         6388
5                                                         4089
6                                                         1781
7                                                       118296
8                                                         9519
9                                                        18182
10                                                        2053
11                                                        4523
12                                                         658
13                                                        2522
14                                                       27270
15                                                        3333
16                                                        7473
17                                                        5418
18                                                       15374
19                                                        5733
20                                                       17627
21                                                       34243
22                                                       46304
23                                                        1410
24                                                       12001
25                                                        1022
26                                                        2325
27                                                        2054
28                                                        2065
29                                                        2358
...                                                        ...
321                                                      61686
322                                                      27980
323                                                       6887
324                                                      27940
325                                                       3012
326                                                       3453
327                                                       5828
328                                                       8392
329                                                       5175
330                                                      28179
331                                                      10245
332                                                       1862
333                                                       4337
334                                                      43777
335                                                       1797
336                                                       4574
337                                                       1732
338                                                      44821
339                                                       2604
340                                                      57559
341                                                       3733
342                                                       9141
343                                                      10685
344                                                        829
345                                                       5931
346                                                     199134
347                                                      36643
Population2  0         3463321
1         6640929
2         ...
Murder       0      0
1      0
2      0
3      1
4      0
5...
Robbery      0      0
1      0
2      0
3      1
4      1
5...

[351 rows x 1 columns]